# Django Secret Key (Replace with a real key in production)
DJANGO_SECRET_KEY=paste_your_django_secret_key_here

# Debug Mode (True for development, False for production)
DJANGO_DEBUG=True

# Spotify API Credentials
SPOTIPY_CLIENT_ID=paste_your_spotify_client_id_here
SPOTIPY_CLIENT_SECRET=paste_your_spotify_client_secret_here

# Soundcharts API Credentials
SOUNDCHARTS_APP_ID=paste_your_soundcharts_app_id_here
SOUNDCHARTS_API_KEY=paste_your_soundcharts_api_key_here
